.panchito{
    margin: 0 auto;
}

#panArriba{
    width: 70%;
    background-color: burlywood;
    border-top-right-radius: top 10px;
    border-top-left-radius: top 10px;
    border-bottom-color: rgb(201, 141, 63);
}
#salchicha{
    width: 60%;
    background-color: brown;
    border-radius: 10px;
}
#panAbajo{
    width: 70%;
   
    background-color: burlywood;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-color: 8px,  rgb(201, 141, 63);
}