.pancchito{
    margin: 0 auto;
}

#panArriba{
    width: 70%;
    height: 45%;
    background-color: burlywood;
    border-radius: 10px;

}
#salchicha{
    width: 60%;
    height: 30%;
    background-color: brown;
    border-radius: 10px;
}
#panAbajo{
    width: 70%;
    height: 45%;
    background-color: burlywood;
    border-radius: 10px;
}