body { 
    box-sizing: border-box;
    font-family: 'Foldit', cursive;
}
#container {
    width: 80%;
    margin: 0 auto;
}
img {
    width: 30%;
    margin: 1.4%;
}
#titulo {
    margin-left: 1.4%;
    font-size: 40px;
    border-bottom: 2px solid red;
    width: 40%;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    left: 150px;
}

h3{
    font-size: 10px;
}

.imagen-resaltada {
    transition: transform 0.2s ease-in-out; 
  }
  
  .imagen-resaltada:hover {
    transform: scale(1.1); 
  }
  